kumuluzee:
  name: worker-service
  version: 1.0.0
  env:
    name: dev
  server:
    base-url: http://localhost:8080
    http:
      port: 8080
  datasources:
    - jndi-name: jdbc/workers-jpa
      connection-url: jdbc:postgresql://worker-database:5432/workers
      username: postgres
      password: postgres
# docker run -d --name worker-service -e POSTGRES_PASSWORD=postgres -e POSTGRES_DB=workers -p 5432:5432 postgres:13
# kumuluzee.env.name 훾e bi bilo znotraj
# 훾e datoteka: velike 훾rke in pod훾rtaj namesto pik KUMULUZEE_ENV_NAME

# docker network create rso2021
# docker run -d --name worker-database -e POSTGRES_PASSWORD=postgres -e POSTGRES_DB=workers -p 5432:5432 --network rso2021 postgres:13

#  okoljske spremenljivke: v run ukazu z -e IME=vrednost
# KUMULUZEE_DATASOURCES0_CONNECTIONURL=